:root {
  --mint-geen: #067787;
  --red: #e50c0c;
  --border-radius: 0.8em;
  --ligth-grey: #f5f5f5;
  --dark-grey: #404040;
  --border-grey: #e0e0e0;
  --padding-default: 0.5em 4em;
  --padding-small: 0.5em 1.5em;
}

.pointer {
  cursor: pointer;
}

.small-txt {
  font-size: 0.7em;
}

.medium-txt {
  font-size: 0.9em;
}

/* .fs-7 {
  font-size: 0.8em;
}

.fs-8 {
  font-size: 1.15em;
}

.fs-9 {
  font-size: 3em;
} */
